body {
    background-image: url("images/background.png");
}
#Name {
    position:fixed;
    left:0px;
    top:0px;
    background-color: aqua;
    border: 1px solid #000000;
    opacity: 0.7;
    border-radius:10px;
    padding-left:30px;
    width: 30%;
}
a {
    text-decoration: none; 
} 
#Name:hover {
    border: 5px solid #000000;
    margin-bottom:4px;

}
.logo:hover {
    transform: scale(1.1);
    border: 3px solid #0B1A6F;
    opacity: 1;
}
.Shapka {
    display:block;
    width:100%;
    max-width:1900px;
    min-width:500px;
    height:110px;
    border:2px solid #808080;
    position:relative;
    background-color: rgba(255,255,255,0.6);
    
}
.logo {
    display: block;
    background-image: url("images/logo.jpg");
    border: 3px solid #44BCEB;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    left: 20px;
    opacity: 0.9;
}
.namelogo {
    display: none;
    background-image: url("images/NameTagTest.png");
    height: 120px;
    width: 300px;
    opacity: 0.9;
    position: absolute;
    bottom: 0px;
    left: 30px;
    transform: scale(0.5);
}
.PU {
    font-size: 25px;
    font-family: a_SimplerDnm;
    display: block;
    position: absolute;
    bottom: 28px;
    left: 120px;
}
.Project {
    color:#23211f;
    display: block;
    position: absolute;
    bottom: 22px;
    left: 23px;
}
.Unknown {
    color: #2f1a8c;
}
.Star {
    color: #357ae2;
}
.Star2 {
    color: #357ae2;
    position: absolute;
    bottom: 0px;
    left: 132px;
}

.PU:hover .Star {
    color: #840fdf;
}
.PU:hover .Star2 {
    color: #840fdf;
}

@font-face {
    font-family: "a_SimplerDnm";
    src: url(Fonts/a_SimplerDnm.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}