body {
    background-image: url("images/background.png");
}
a {
    text-decoration: none; 
} 
.logo:hover {
    transform: scale(1.1);
    border: 3px solid #0B1A6F;
    opacity: 1;
}
.Shapka {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1900px;
    min-width: 700px;
    height: 151px;
    border: 2px solid #808080;
    border-bottom:0px;
    background-color: rgba(255,255,255,0.6);
}
.logo {
    display: block;
    background-image: url("images/logo.jpg");
    border: 3px solid #44BCEB;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    left: 20px;
    opacity: 0.9;
}
.namelogo {
    display: none;
    background-image: url("images/NameTagTest.png");
    height: 120px;
    width: 300px;
    opacity: 0.9;
    position: absolute;
    bottom: 0px;
    left: 30px;
    transform: scale(0.5);
}
.PU {
    font-size: 25px;
    font-family: a_SimplerDnm;
    display: block;
    position: absolute;
    bottom: 28px;
    left: 120px;
}
.Project {
    color:#23211f;
    display: block;
    position: absolute;
    bottom: 22px;
    left: 23px;
}
.Unknown {
    color: #2f1a8c;
}
.Star {
    color: #357ae2;
}
.Star2 {
    color: #357ae2;
    position: absolute;
    bottom: 0px;
    left: 132px;
}

.PU:hover .Star {
    color: #840fdf;
}
.PU:hover .Star2 {
    color: #840fdf;
}
.Tag {
    background-image: url("images/Desc.png");
    position: absolute;
    top: 5px;
    right: 20px;
    display: block;
    height: 110px;
    width: 350px;    
}
.Menu {
    max-width: 900px;
    height: 41px;
   margin: 110px auto 0px ;
}
.Menu ul {
    list-style:none;
}
.Menu li {
    float:left;
}
@font-face {
    font-family: "a_SimplerDnm";
    src: url(Fonts/a_SimplerDnm.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
